body {
  font-family: "Segoe UI","Open Sans",sans-serif,serif;
  background: #fff;
  color: #333;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 200;
}
h2 {
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #0066ff;
}
a:hover {
  text-decoration: underline;
}
.head {
  background: url("https://wintertrove.github.io/img/bg.jpg");
  COLOR: #FFF;
  margin:-8;
  margin-top: -60px;
  padding-top: 10%;
  padding-bottom: 10%;
}
h2 a {
  color: #333;
}
h2 a:hover {
  text-decoration: none;
}
.c {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
}
li {
  list-style: none;
  border-left: #0072c6 5px solid;
  padding: 10px;
  background: #eee;
  font-weight: 200;
}
ul {
  margin-left: -30px;
}
footer {
    background: #0072c6;
    color: #fff;
    padding: 2;
    margin: -8px;
    margin-top: 100px;
    font-size: 12;
    text-align: center;
    font-weight: 200;
}
footer a {
  color: #fff;
}
#nav {
  background: #0072c6;
  height: 50px;
  margin: -8px;
  color: transparent;
  padding-right: 50px;
}
#nav li {
  float: left;
  height: 100%;
  border-left: none;
  padding: 0;
  background: transparent;
}

#nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
hr {
  border: 3px solid #0072c6;
}
#nav li:hover {
  background: rgba(0, 0, 0, 0.18);
}
iframe {
    width: 100%;
    height: 300px;
    border: none;
}
